header{
    z-index: 2;
    background-color: #a0760d;
    display: flex;
    @media (min-width: 1050px) {
        flex-direction: row;
        height: 10vh;
        justify-content: space-between;
    }
    @media (max-width: 1050px) {
        flex-direction: column;
        height: 20vh;
        justify-content: space-around;
    }
    @media (max-width: 719px) {
        flex-direction: row-reverse;
        height: 10vh;
        justify-content: space-between;
    }
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 5px 5px  opacify($color: lightgray, $amount: 0.5);
    > section:first-of-type{
        display: flex;
        @media (min-width: 1050px) {
            flex-direction: row;
            height: 100%;
        }
        @media (max-width: 1050px) {
            flex-direction: column;
            height: 70%;
        }
        @media (max-width: 720px) {
            height: 100%;
        }
        justify-content: center;
        align-items: center;
        > figure{
            @media (min-width: 1050px) {
                height: 100%;
            }
            @media (max-width: 1050px) {
                height: 60%;
            }
            @media (max-width: 720px) {
                height: 100%;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 4vw;
            > img{
                height: 70%;
                border-radius: 100%;
                border: 4px solid white ;
            }
        }
        > nav{
            @media (min-width: 719px) {
                display: flex;
            }
            @media (max-width: 719px) {
                display: none;
            }

            > ul{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                > li{
                    padding: 5px 0;
                    @media (max-width: 1050px) {
                        margin-top: 0;
                        margin-bottom: 0;
                    }
            
                    > a{
                        font-size: 1.4rem;
                        text-decoration: none;
                        color: white;
                        font-family: 'Bree Serif', serif;
    
                    }
                    &:hover{
                        transform: translateY(-4px);
                            border-bottom: 4px solid white;
                    }
                }
            }
        }
    
    }
    > ul{
        @media (min-width: 719px) {
            display: flex;
        }
        @media (max-width: 719px) {
            display: none;
        }
        justify-content: space-between;
        align-items: center;
        margin: 0 4vw;
        > li{
            display: flex;
            align-items: center;
            height: 100%;
            &:first-of-type{
                margin-left: 0;
            }
            &:last-of-type{
                margin-right: 0;
            }
            > a{
                font-size: 1.4rem;
                text-decoration: none;
                color: white;
                &:hover{
                    color: black;
                }
            }
        }
    }
    > #span{
        @media (min-width: 719px) {
            display: none;
        }
        @media (max-width: 719px) {
            display: flex;
            color: white;
            font-size: 2rem;
            margin: 0 4vw;

        }
    
    }
}