@import "_reset";
@import "_header";
@import "_main";
@import "_titles";
@import "_footer";
@import "_burger";


.hidden {
    display: none;
}

.show {
    display: flex;
}

body {
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}