/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  z-index: 2;
  background-color: #a0760d;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.8fr 0.4fr 0.1fr 0.1fr;
  grid-template-rows: 10vh;
  position: fixed;
  width: 100%;
  box-shadow: 0 5px 5px lightgray;
}
header > figure {
  grid-column: 2/3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > figure > img {
  height: 70%;
  border-radius: 100%;
  border: 4px solid white;
}
header > nav {
  grid-column: 4/5;
  display: flex;
}
header > nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > nav > ul > li {
  padding: 5px 0;
}
header > nav > ul > li > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}
header > nav > ul > li:hover {
  transform: translateY(-4px);
  border-bottom: 4px solid white;
}
header > ul {
  grid-column: 6/7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > ul > li {
  display: flex;
  align-items: center;
  height: 100%;
}
header > ul > li > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}
header > ul > li > a:hover {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
}
main > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vh 4vw;
}
main > section:nth-of-type(1) {
  background-image: url("../../img/DSC_0104.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30vh 10vw 20vh 10vw;
}
main > section:nth-of-type(1) > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1vh 1vw;
  border-radius: 20px;
}
main > section:nth-of-type(1) > section > h1 {
  position: relative;
  font-size: 5rem;
  font-weight: bold;
}
main > section:nth-of-type(1) > section > p {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
main > section:nth-of-type(2) {
  background-color: lightgray;
  align-items: flex-start;
}
main > section:nth-of-type(3) {
  background-color: #a0760d;
  align-items: flex-start;
}
main > section:nth-of-type(3) > ul > li {
  list-style: inside circle;
}
main > section:nth-of-type(4) {
  background-color: lightgray;
}
main > section:nth-of-type(4) > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
main > section:nth-of-type(4) > ul > li > ul {
  padding: 2vh 2vw;
  border: 1px solid #a0760d;
  border-radius: 20px;
  margin: 2vh 2vw;
}
main > section:nth-of-type(4) > ul > li > ul > h3 {
  text-align: center;
}
main > section:nth-of-type(4) > ul > li > ul > li {
  display: flex;
  flex-direction: column;
}
main > section:nth-of-type(4) > ul > li > ul > li > span {
  margin-bottom: 1vh;
}
main > section:nth-of-type(4) > ul > li > ul > li > section {
  margin-bottom: 2vh;
  display: flex;
  height: 30px;
  width: 300px;
  background-color: gray;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}
main > section:nth-of-type(4) > ul > li > ul > li > section > section:first-of-type {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  background-color: #a0760d;
  border-radius: 2px;
}
main > section:nth-of-type(4) > ul > li > ul > li > section > section:first-of-type::after {
  content: attr(data-percent);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 5px;
}
main > section:nth-of-type(5) {
  background-color: #a0760d;
}
main > section:nth-of-type(5) > section {
  display: flex;
  flex-direction: column;
}
main > section:nth-of-type(5) > section > section {
  display: flex;
  flex-direction: row;
}
main > section:nth-of-type(5) > section > section > figure {
  width: 50%;
}
main > section:nth-of-type(5) > section > section > figure > img {
  width: 100%;
}
main > section:nth-of-type(5) > section > section > section {
  width: 50%;
}
main > section:nth-of-type(5) > section > section > section > p {
  text-indent: 20px;
}
main > section:nth-of-type(5) > section > section > section > section {
  margin: 1vh 1vw;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 1vh 1vw;
}
main > section:nth-of-type(5) > section > section > section > section > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}
main > section:nth-of-type(5) > section > section > section > section > section > span {
  font-size: 1.6rem;
  margin: 0 1vw;
}
main > section:nth-of-type(5) > section > section > section > section > section > h4 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1vh;
}
main > section:nth-of-type(5) > section > section > section > section > section > article {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main > section:nth-of-type(5) > section > section > section > section > section > article > figure {
  width: 50%;
}
main > section:nth-of-type(5) > section > section > section > section > section > article > figure > img {
  width: 100%;
}
main > section:nth-of-type(5) > section > section > section > section > section > article > p {
  width: 50%;
}
main > section:nth-of-type(6) {
  background-color: lightgray;
}
main > section:nth-of-type(6) > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > section:nth-of-type(6) > section > a {
  color: #a0760d;
  font-size: 3rem;
}

h2 {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 4vh 4vw;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1vh 1vw;
}

p, li {
  font-size: 1.4rem;
  margin: 1vh 1vw;
  line-height: 1.4;
}

footer {
  background-color: #a0760d;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

body {
  position: absolute;
}/*# sourceMappingURL=styles.css.map */